.brand{

    width: 100%;
    
    background-color:#EBD96B;
    margin-top: 40px;
    img{
        margin-top: 25px;
        margin-bottom: 25px;
        padding-right: 90px;
    }
}
.brand-flex{
    display: flex;
    align-items: center;
}